@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="color:#fff">@ViewData["Title"]</h1>

<p style="color:#fff">At e-nompilo Primary Health Care, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy describes how we collect, use, and disclose personal information when you use our healthcare services or visit our website. Please read this policy carefully to understand our practices regarding your personal information.</p>

<h2 style="color:white">Information We Collect</h2>

<p style="color:#fff">When you use our healthcare services or visit our website, we may collect various types of personal information, including but not limited to:</p>

<ul style="color:#fff">
    <li>Personal Identifiable Information: Name, contact details, date of birth, gender, medical history, and health insurance information.</li>
    <li>Health Information: Medical reports, test results, diagnoses, treatments, and prescriptions.</li>
    <li>Website Usage Information: IP address, browser type, operating system, referring website, pages viewed, and access times.</li>
</ul>

<h2 style="color:white">How We Use Your Information</h2>

<p style="color:#fff">We may use your personal information for the following purposes:</p>

<ul style="color:#fff">
    <li>Providing Healthcare Services: Delivering healthcare services, including diagnosing, treating, and managing your medical condition.</li>
    <li>Communication: Contacting you about appointments, test results, treatment options, and other healthcare-related matters.</li>
    <li>Internal Operations: Record-keeping, quality assessment, research, and improving our healthcare services.</li>
    <li>Website Improvement: Analyzing trends, tracking website activity, and enhancing user experience.</li>
</ul>

<h2 style="color:white">Information Sharing and Disclosure</h2>

<p style="color:#fff">We may share your personal information in the following circumstances:</p>

<ul style="color:#fff">
    <li>Healthcare Providers: Disclosing your information to healthcare professionals and service providers involved in your care.</li>
    <li>Legal Requirements: Disclosing your information when required by law, court order, or governmental authority.</li>
    <li>Business Partners: Sharing your information with trusted business partners who provide services on our behalf.</li>
    <li>Consent: Sharing your information with third parties if you provide explicit consent.</li>
</ul>

<h2 style="color:lightgray">Data Security</h2>

<p style="color:#fff">We take reasonable measures to protect the security of your personal information. However, please note that no method of transmission over the internet or electronic storage is 100% secure.</p>

<h2 style="color:white">Data Retention</h2>

<p style="color:#fff">We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.</p>

<h2 style="color:lightgray">Your Privacy Choices</h2>

<p style="color:#fff">You have certain choices regarding the use and disclosure of your personal information. You may access, update, or correct your information, withdraw consent for certain uses, and opt-out of receiving promotional communications.</p>

<h2 style="color:lightgray">Links to Third-Party Websites</h2>

<p style="color:#fff">Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of those websites. Please review the privacy policies of any third-party websites you visit.</p>

<h2 style="color:lightgray">Changes to This Privacy Policy</h2>

<p style="color:#fff">We may update this Privacy Policy from time to time. We will notify you of any material changes by posting the updated Privacy Policy on our website and updating the effective date.</p>

<h2 style="color:lightgray">Contact Us</h2>

<p style="color:#fff">If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us using the information provided below:</p>

<p style="color:#fff">
    e-nompilo Primary Health Care<br />
    Street: 13, Aandblom<br />
    Suburb/City: Pinelands, Cape Town<br />
    County/Department: City of Cape Town<br />
    State/Region: Western Cape<br />
    Postcode: 7405<br />
    Country: South Africa<br />
</p>
